{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <h1 id="heade" class="font-effect-shadow-multiple">Development of Sport in the Republic of Uzbekistan</h1><br>
    <div class="clearfix">
        <img src="{% static 'images/sport_1.jpg' %}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="About Images">
        <i>
          <h5 style='text-indent: 55px; font-family: serif;'>
            <span style="font-size: 340%;">T</span> he sports team of the Republic of Uzbekistan every year expands the numerical structure, winning more and more strong and high positions on international scene. Achievements of athletes of the country convincingly promote strengthening of authority of
            young Republic on international scene. Protecting colors of a national flag young men and girls, professionals of individual and game disciplines, showing at representative forums exclusive preparation and phenomenal skill, eloquently confirm,
            that they represent the country with rich sport traditions.
          </h5>
        </i><br><hr><br>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            It is symbolical, that Uzbekistan does not drop out of the category of the countries where the understanding importance of this truth takes place. The governmental structures, public organizations, sport departments of the country always make common efforts
            in the solution of such important problems, as forward development of material base of sphere of sports and physical training, achievement of mass character in their organizations, strengthening of base of professional sector and others.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Integrated and targeted measures to support the sport in the country have yielded positive results. During the years of Independence sports delegation of Uzbekistan took part in 5 Olympic and 9 Asian Games, where athletes of Uzbekistan adequately protected
            sporting honor their homeland. At the Olympics, the representatives of the republic won 6 gold, 5 silver, 11 bronze medals, at the Asian became the owners of 54 gold, 76 silver and 93 bronze medals. The results of our olympians indicate that
            Uzbekistan every year reinforces its place among the countries where the sport is progressing rapidly.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            The main work on development of sport conducts the Ministry of Culuture and Sport of the Republic of Uzbekistan. Level of actions on the further development of Olympic and participation in it sportsmen of the Republic are provided with National Olympic
            Committee, since 1993 become with a member of the International Olympics.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Now in 32 kinds of sports national federations of Uzbekistan are members of the international federations, having secured with the right of participation at the various international competitions.
        </p>

        <blockquote>
            Preparation of experts on physical training and sports is carried out by the Uzbek State Institute of Physical Training. Annually about 2 thousand students are trained in it. The higher educational institution prepares the teachers of physical training
            and trainers-teachers on sport. For last years in the Republic the separate kinds of sport which material base is modernized in view of the requirements accepted in the World are developing in accelerated rates. In this line the base of the
            Uzbek football where participation of 36 teams is recorded which is very indicative. At their order 231 stadium, 5231 football floor, and also numerous platforms for game in mini-football. By the most popular kind of sport in the Republic
            is conducting Championship and Contests of Uzbekistan, the Cup of Republic.
        </blockquote>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            On mass character almost does not concede the sport "number one" the big tennis. Development of its base, no less than successes of tennis players of Uzbekistan, became regular by virtue of many reasons - to staginess, availability, between national popularity.
            Since 1994 in all large cities of the country the international tournaments with participation of the strongest tennis players of the world are annually carries out.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Uzbekistan periodically becomes a place of carrying out of such prestigious competitions and tournaments, as the Championship of Asia on boxing, the Championship of Asia and Ocenia on Taekvondo, the international tournaments on free-style wrestling, weightlifting,
            muaythai and etc.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Special attention is given development of paralympic sports in the Republic. Expansion of its base became a subject of the directed actions not only for corresponding departments and public structures, but also Ministry of Social Welfare RU, and also
            the Republican Society of invalids, Regional representation of the International Red Cross.
        </p>
        <br>

        <b class="text-primary">National Sport</b><br><br>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            For many centuries, Uzbek nation has been famous for its strongest palvans (wrestlers) and legendary equestrians, which contributed to create national types of sports in Uzbekistan, such as Kurash, Belbogli-kurash, Turon, and Boyqurgan. The Independence
            of the Republic of Uzbekistan created a great opportunity for national sports, which are some of cultural inheritance of Uzbekistan in the sphere of physical culture and sports, to be presented to the world.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Generally, each nation has its own national sports where the certain sport is initiated. Speaking of Japan, in the sports world, it associates as the country of judo, karate, sumo. China is the country of Wu-shu; Korea – taekwondo and sirim; USA – baseball
            and basketball. Like the other countries in the world, Uzbekistan associates as the country of kurash, belbogli kurash, turon, and boyqurgan. Today, national sports achieved a great popularity not only in Uzbekistan, but also all over the
            world. One of the initial achievements was that Kurash, Belbogli-kurash, Turon, and Boyqurgan received international status and being included to Asian Games.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Furthermore, there was established the International Kurash Association, and in as many as 50 countries across the world were established regional federations of Kurash. Today, Kurash is just about to be included to the list of Olympic sports. Since 1999,
            across the world, there have been being held a number of world championships in this type of sport.
        </p><br><br>

        <b class="text-primary">Children's sports development in Uzbekistan</b><br><br>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Sport is a powerful tool for maintaining a healthy socio-political climate in the country, especially among youth. Today Uzbekistan sport has become an integral part of education.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Uzbekistan is considered to be a country with a young population - more than 40 percent of the republic's residents are young people aged up to 18 years. It is important that they have grown fully developed and purposeful individuals both in the spiritual
            and the physical plane. Therefore, attention to children's sport and healthy lifestyles of young people identified as one of the priorities of the state policy.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            In order to fully support children and youth sports since 2002 operating in Uzbekistan Children's Sports Development Fund, providing comprehensive promotion of all types of sports among children.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            1113 modern children's sports facilities, including 252 sports complexes, 861 gyms and 110 swimming pools were recently created in the country. Currently more than 1 million 800 thousand children on a regular basis are engaged in 30 types of sports. We
            attach particular importance to attract an early age to the sport for girls and youth in rural areas.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            Along with this, in the Republic, a three-tier system of sports, which includes "Umid Nihollari", "Barkamol avlod" and "Universiade". In fact, the system is a national model of effective selection and training of elite athletes.
        </p>

        <p style='font-family: Arial, Helvetica, sans-serif;'>
            The result of this extensive work is that today 's weight and height more than 92 percent of our boys and girls are in compliance with the World Health Organization.
        </p><br>

        <strong class="text-dark">Useful links on the theme:</strong><br>
        <ul>
            <li><a href="http://ich.uz/en/ich-of-uzbekistan/ich-organizations/96-ministry-of-culture" class="text-primary">Website of the Ministry of Culture and Sports Affairs of the Republic of Uzbekistan</a></li>
            <li><a href="http://bolalarsporti.uz/eng/" class="text-primary">Website of Foundation of Сhildren Sport Development</a></li>
            <li>
                <a href="http://olympic.uz/en/" class="text-primary">Website of the National Olympic Committee of the Republic of Uzbekistan</a>
            </li>
            <li>
                <a href="http://kurash-ika.org/en/" class="text-primary">Website of International Kurash Association</a>
            </li>
            <li>
                <a href="http://www.the-uff.com/ru/" class="text-primary">Website of Football Federation of Uzbekistan</a>
            </li>
        </ul>
    </div>
</div><br><br><br>

<div class="container">
    <h1 class="heading"><span class="bg-danger" style="border-radius: 15px;">Latest News</span></h1>
</div>
<div class="graybg">
    <div class="container">
        <div class="row listrecent listrelated">
            {% for page_about in news_about %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'news' %}">
                        <img class="img-fluid img-thumb" src="{{page_about.image.url}}">
                    </a>
                    <div class="card-block">
                        <h5 class="card-title"><a href="{% url 'news' %}" style="text-decoration: none; color: rgb(19, 53, 204);">{{page_about.title}}</a></h5>
                        <div class="metafooter">
                          <div class="wrapfooter">
                            <span class="author-meta">
                              <b class="text-secondary">{{page_about.date_posted | date:"F d, Y H:i"}}</b>
                            </span>
                            <span class="post-read-more"><a href="{% url 'news' %}" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
