{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Blog</title>

    <!-- Bootstrap Links Collection -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- Static Section -->
    <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/mediumish.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <!-- Slick Slider Section Links -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />



    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Bootstrap Links Collection -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <!-- Static section -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
    <!-- Fonts Section -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;300;400;500&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Faster+One&family=Frijole&family=Poppins:wght@100;300;400;500&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- Slick Slider Section Links -->

</head>
<body>
    <nav id="nav">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <div class="logop">
            <p><a href="{% url 'home' %}" style="text-decoration: none;"><span class="text-danger">s</span><i class="text-light">ports<sup style="font-size: 70%;">&trade;</sup></i></a></p>
            <!-- search section -->
            <form action="{% url 'search_blog' %}" method="POST" class="d-flex" style="margin-top: 7%;">
                {% csrf_token %}
                <input type="search" name="search_blog" class="form-control m-1 text-secondary" placeholder="Search for sports ..." style="width:70%;">
                <button class="btn btn-primary m-1" type="submit"><i class="fa fa-search "></i></i></button>
            </form>
        </div>

        <ul>
            <li><a href="{% url 'home' %}" class="activing font-weight-bold text-danger">home</a></li>
            <li><a href="{% url 'about' %}" class="font-weight-bold">about</a></li>
            <li><a href="{% url 'gallery' %}" class="font-weight-bold">gallery</a></li>
            <li><a href="{% url 'trainers' %}" class="font-weight-bold">trainers</a></li>
            <li><a href="{% url 'blog' %}" class="font-weight-bold">blog</a></li>
            <li><a href="{% url 'news' %} " class="mr-5 font-weight-bold">news</a></li>

            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn text-light bg-success px-2"><i class="fa fa-user-circle" aria-hidden="true"></i> My Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-light text-dark">Logout</a>
                <b class="btn btn-sm btn-info">Call Us <i class="fa fa-phone" aria-hidden="true"></i></b>
                <!-- else section -->
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-link px-2 font-weight-bold text-light"><i class="fa fa-user-plus text-light" aria-hidden="true" style="margin-right:6%;"></i>Login</a>
                <a href="{% url 'register' %}" class="btn btn-success text-light">Join us now!</a>
                <b class="btn btn-sm btn-info">Call Us <i class="fa fa-phone" aria-hidden="true"></i></b>
                <!-- endif section -->
                {% endif %}
            </li>
        </ul>
    </nav>

    <!-- BREADCRUMBS CODES SECTION START -->
    
    <!-- Alert Section Starts -->
    <div class="container-fluid">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
        </svg>
        <div class="alert alert-primary d-flex align-items-center m-3" role="alert">
            <svg class="bi flex-shrink-0 me-1" width="21" height="24" role="img" aria-label="Info:" style="margin-left: 20%;"><use xlink:href="#info-fill"/></svg>
            <div>
                <b>Hey there.</b><span> Welcome to our site. <a href="{% url 'register' %}" class="text-danger" style="text-decoration: none;"> Sign Up</a> here!</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: 35%;"></button>
        </div>
        {% block content %} {% endblock content %}
    </div>

    <!-- Blog Starting Point Section  -->
    <header class="py-4 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center">
                <h1 class="fw-bolder">Welcome to <span class="text-danger">Blog</span>!</h1>
                <p class="lead mb-0">Here you can find our all uzb types of sport articles and blogs easily !</p>
            </div>
        </div>
    </header><br>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images/blog_27.jpg' %}" alt="Prezident_sport" /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light" style="font-family: 'Courgette', cursive, 'Poppins', sans-serif, 'Shrikhand', cursive;">Achievements in high sports</h1><br>
                <p style="font-family: 'Frijole', cursive;">It is known that on November 9 this year, the Presidential Decree "On measures to radically improve the system of public administration in the field of physical culture and sports" was adopted.!</p><br>
                <a class="btn btn-outline-info" href="{% url 'single_blog_pre' %}">Call to Action!</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-2 text-center">
            <div class="card-body">
                <p class="text-white m-0 font-weight-bold">Attention was also paid to the construction of children's sports facilities, the use of modern energy-saving technologies in construction!</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% for blog in blog_obj %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <a href="{% url 'blog_detail' blog.pk %}"><img class="card-img-top" src="{{blog.image.url}}" alt="Image stands for blog" height='250rem' /></a>
                    <div class="card-body">
                        <div class="d-flex">
                            {% if request.user.is_authenticated %}
                                    <form method='POST' action="{% url 'like_blog' blog.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-sm" type='submit' name='blog_id' value="{{blog.id}}"><i class="fas fa-heart text-danger" style="font-size: 20px;"></i>{{blog.likes.count}}<button>
                                    </form>
                                    <button class="btn btn-sm"><i class="fas fa-eye text-warning" style="font-size: 20px;"></i><span class="ml-1">{{blog.views}}</span></button>
                            {% else %}
                                <div class="d-block">
                                    <a href="{% url 'register' %}"><button class='btn btn-sm' type='submit' name='blog_id' value="{{blog.id}}"><i class="fas fa-heartbeat text-danger" style="font-size: 20px;"></i>{{blog.likes.count}}<button></a>
                                    <button class="btn btn-sm"><i class="fas fa-eye text-warning" style="font-size: 20px;"></i><span class="ml-1">{{blog.views}}</span></button>
                                </div>
                            {% endif %}
                        </div>
                        <h4 class="card-title">{{blog.title}}</h4>
                        <p class="card-text" style='font-family: "Sofia", sans-serif; font-weight: bold; font-size: 18px;'>{{blog.desc | truncatewords:20}}</p>
                        <div class="small text-muted">{{blog.created_at | date:"F d, Y"}}</div>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-block btn-medium" href="{% url 'blog_detail' blog.pk %}">Read more →</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <center style="font-size: 55px;">
                {% if blog_obj.has_previous %}
                    <a href="?page={{blog_obj.previous_page_number}}"><i class="fad fa-arrow-alt-circle-left"></i></a>
                {% else %}
                    <a href="#"><i class="fad fa-arrow-alt-circle-left"></i></a>
                {% endif %}

                <span class='dot'></span><span class="dot"></span><span class='dot'></span>

                {% if blog_obj.has_next %}
                    <a href="?page={{blog_obj.next_page_number}}"><i class="fad fa-arrow-alt-circle-right"></i></a>
                {% else %}
                    <a href="#"><i class="fad fa-arrow-alt-circle-right"></i></a>
                {% endif %}

                <!-- {% if prev %}
                    <a href="?page={{prev}}"><i class="fad fa-arrow-alt-circle-left"></i></a>
                {% else %}
                    <a href="#"><i class="fad fa-arrow-alt-circle-left"></i></a>
                {% endif %}

                <span class='dot'></span><span class="dot"></span><span class='dot'></span>

                {% if nxt %}
                    <a href="?page={{nxt}}"><i class="fad fa-arrow-alt-circle-right"></i></a>
                {% else %}
                    <a href="#"><i class="fad fa-arrow-alt-circle-right"></i></a>
                {% endif %} -->
            </center>
        </div>
    </div><br><br><br><br>

    <div class="container-fluid">
        <h1 class="heading bg-light"><span style="border-radius: 10px;" class="bg-info text-light">Useful Links</span></h1><br>
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active bg-dark"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="bg-dark"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" style="margin-left: 5%;">
                        <div class="col">
                            <a href="http://ufa.uz/?lang=en"><img src="{% static 'images/fot_logo.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://kurash-ika.org"><img src="{% static 'images/fot_logo1.jpg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://president.uz"><img src="{% static 'images/fot_logo2.jpg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://www.unicef.org/uzbekistan/en/topics/youth"><img src="{% static 'images/fot_logo3.png' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://www.uzairways.com/uz"><img src="{% static 'images/fot_logo4.png' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="http://olympic.uz/"><img src="{% static 'images/fot_logolymp.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col" style="margin-right: 6%;">
                            <a href="https://uzbektourism.uz/"><img src="{% static 'images/fot_uzbtour.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin-left: 5%;">
                        <div class="col">
                            <a href="http://ufa.uz/?lang=en"><img src="{% static 'images/fot_logo.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://kurash-ika.org"><img src="{% static 'images/fot_logo1.jpg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://president.uz"><img src="{% static 'images/fot_logo2.jpg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://www.unicef.org/uzbekistan/en/topics/youth"><img src="{% static 'images/fot_logo3.png' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="https://www.uzairways.com/uz"><img src="{% static 'images/fot_logo4.png' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col">
                            <a href="http://olympic.uz/"><img src="{% static 'images/fot_logolymp.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                        <div class="col" style="margin-right: 6%;">
                            <a href="https://uzbektourism.uz/"><img src="{% static 'images/fot_uzbtour.jpeg' %}" class="d-block w-100" alt="brand sliders"></a>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div><br><br>

    <!-- Footer Section -->
    {% include "footer.html" %}

    <!-- Javascript Links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>
