<footer class="text-center text-lg-start bg-dark text-muted"><br>
    <div>
        <h2 class="text-light"><u>FOLLOW OUR MISSIONS</u></h2>
    </div>
    <section class="d-flex justify-content-center p-4 border-bottom">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" href="https://www.facebook.com/sportsuz" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Google -->
        <a class="btn btn-warning btn-floating m-1" href="https://www.goldenpages.uz/en/rubrics/?Id=1667" role="button"><i class="fab fa-google"></i></a>
        <!-- Instagram -->
        <a class="btn btn-danger btn-floating m-1" href="https://www.instagram.com/uzsport_no1/" role="button"><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-info btn-floating m-1" href="https://www.linkedin.com/groups/8986747/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-secondary btn-floating m-1" href="https://github.com/Islom16" role="button"><i class="fab fa-github"></i></a>
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i><span class="text-light ml-2">Sport Organization</span>
                    </h6>
                    <p>Promotion of Olympic ideas in Uzbekistan, acquaintance of people with the achievements of athletes of the Republic of Uzbekistan, development of Olympic education;</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 text-light">Navigation</h6>
                    <p>
                        <a href="{% url 'home' %}" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="{% url 'about' %}" class="text-reset">About</a>
                    </p>
                    <p>
                        <a href="{% url 'gallery' %}" class="text-reset">Gallery</a>
                    </p>
                    <p>
                        <a href="{% url 'trainers' %}" class="text-reset">Trainers</a>
                    </p>
                    <p>
                        <a href="{% url 'blog' %}" class="text-reset">Blog</a>
                    </p>
                    <p>
                        <a href="{% url 'news' %}" class="text-reset">News</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-light">
                        Useful Information
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-light">Contact</h6>
                    <p>
                      <i class="fas fa-home me-3"></i> Tashkent, NY 12, UZB</p>
                    <p>
                      <i class="fas fa-envelope me-3"></i> sport12org@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 998 90 226 04 16</p>
                    <p><i class="fas fa-print me-3"></i> + 78 585 46 21</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright: BY SPORT ORGANIZATION | ALL RIGHTS ARE RESERVED
    </div>
</footer>
