{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Blog</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav id="nav">
        <div class="logop">
            <p><a href="{% url 'home' %}" style="text-decoration: none;"><span class="text-danger">s</span><i class="text-light">ports<sup style="font-size: 70%;">&trade;</sup></i></a></p>
            
            <!-- search section -->
            <form action="{% url 'search_blog' %}" method="POST" class="d-flex" style="margin-top: 4%;">
                {% csrf_token %}
                <input type="search" name="search_blog" class="form-control text-secondary" placeholder="Search for sports ..." style="width:70%;">
                <button class="btn btn-primary ml-1" type="submit"><i class="fa fa-search "></i></i></button>
            </form>
        </div>

        <ul style="margin-top: -9.42%;">
            <li><a href="{% url 'home' %}" class="activing font-weight-bold text-danger">home</a></li>
            <li><a href="{% url 'about' %}" class="font-weight-bold">about</a></li>
            <li><a href="{% url 'gallery' %}" class="font-weight-bold">gallery</a></li>
            <li><a href="{% url 'trainers' %}" class="font-weight-bold">trainers</a></li>
            <li><a href="{% url 'blog' %}" class="font-weight-bold">blog</a></li>
            <li><a href="{% url 'news' %} " class="mr-5 font-weight-bold">news</a></li>

            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn text-light bg-success px-2"><i class="fa fa-user-circle" aria-hidden="true"></i> My Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-light text-dark">Logout</a>
                <b class="btn btn-sm btn-info">Call Us <i class="fa fa-phone" aria-hidden="true"></i></b>
                <!-- else section -->
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-link px-2 font-weight-bold text-light"><i class="fa fa-user-plus text-light" aria-hidden="true" style="margin-right:6%;"></i>Login</a>
                <a href="{% url 'register' %}" class="btn btn-success text-light">Join us now!</a>
                <b class="btn btn-sm btn-info">Call Us <i class="fa fa-phone" aria-hidden="true"></i></b>
                <!-- endif section -->
                {% endif %}
            </li>
        </ul>
        
    </nav>

</body>
</html>
